.home-container {
    padding: 0;

    .main-title {
        max-width: 260rem;
        font-weight: 600;
        font-size: 28rem;
        line-height: 129%;
        margin-top: 0;
        margin-bottom: 28rem;
} 

    

    .chapter-title {
        font-weight: 500;
        font-size: 16rem;
        line-height: 125%;
        color: var(--c-white);
        margin-top: 23rem;
        margin-bottom: 19rem; 
    }

}

