.back-and-like {
    align-items: center; 
    padding: 60rem 21rem;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .icon-chevron-left, .icon-heart {
        background: linear-gradient(137deg, #21262e 0%, #0c0f14 100%);
        border: 1px solid #21262e;
        border-radius: 10rem;
        width: 33rem;
        height: 33rem;
        font-size: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.item-title-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 25rem 25rem 0 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 15rem 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-desc {
    font-weight: 400;
    font-size: 12rem;
    line-height: 167%;
    color: var(--c-white);
}

.add-to-cart-btn {
    font-weight: 600;
    font-size: 16rem;
    line-height: 125%;
    padding: 20rem 73rem;
    color: var(--c-white);
    border-radius: 20rem;
}

.size-container {
    padding: 10rem 22rem;
    border-radius: 10rem;
    background: var(--c-bg-second);
    cursor: pointer;
}